/* Applied to Gadgets without Wallboard resources - attempts to make gadget content more suitable for the wallboard */

body {
    font: 12px arial, sans-serif !important;
    margin: 0;
    padding: 0;
}

html, body, h1, h2, h3, h4, h5, h6, div, p, a, table, tr, td,
.footer,
.view {
    background: #000 !important;
    color: #fff !important;
}

a {
    text-decoration: none;
    color: #ebf2f9 !important;
}

.view {
    padding: 0.5em 1em;
}

body.has-footer-options {
    padding: 0 !important;
}

.footer {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #999 !important;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px !important;
}

h2 {
    font-size: 18px !important;
}

h3 {
    font-size: 16px !important;
}

h4, h5, h6,
p, li, td,
p a, li a, td a {
    font-size: 14px !important;
}

/* Styles for specific non-wallboard gadgets */

#issuetable > thead > tr > th,
#issuetable > tbody > tr > th,
#issuetable > thead > tr > td,
#issuetable > tbody > tr > td,
#issuetable > tfoot > tr > td,
.issue-table > thead > tr > th,
.issue-table > tbody > tr > th,
.issue-table > thead > tr > td,
.issue-table > tbody > tr > td,
.issue-table > tfoot > tr > td,
.g-favourite-filters #filter-list li {
    border-color: #333 !important;
}

/* JIRA Activity Stream */
#stream.activityFeed .header h3 {
    font-size: 24px !important;
}
#stream.activityFeed h3.timestamp {
    font-size: 18px !important;
    padding-bottom: 0.5em;
}
#stream.activityFeed .activityItems .activity-item,
#stream.activityFeed .activityItems .activity-item a {
    font-size: 18px !important;
}
#stream.activityFeed .activityItems .activity-item a:link,
#stream.activityFeed .activityItems .activity-item a:visited {
    color:#ebf2f9 !important;
    text-decoration: none !important;
}

/* --- */
