/* Wallboard CSS */
body, html {
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px 0 0;
    overflow: hidden;
}

a {
    color: #ebf2f9;
}

div.slot {
    margin: 0 0 20px;
}

div.slot.spacer-only {
    margin: 0;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.wallboard-gadget {
    width: 100%;
}

td iframe:last-of-type {
    margin-bottom: 0;
}

.cyclable {
    height: 100%;
}

table.wallframe {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

table.wallframe td {
    height: 100%;
    padding: 0 20px;
    vertical-align: top;
}

table.wallframe td.narrow {
    width: 33%;
}

table.wallframe td.medium-width {
    width: 50%;
}

table.wallframe td.wide {
    width: 67%;
}

table.wallframe td.full-width {
    width: 100%;
}

.top {
    margin-top: 20px;
}

.bottom {
    margin-bottom: 20px;
}

#blanket {
    background: #000 url(images/spinner_blanket.gif) no-repeat 50% 50%;
    bottom: 0;
    height: 100%;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE8 */
    filter: alpha(opacity = 70); /* LTE IE7 */
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
}

tr.hasError td {
    background-color: #fcc;
}